<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %} {% endblock %}</title>
    <script src="{{ url_for('static', filename='js/socket.io.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/tailwind.js') }}"></script>
    <script src="{{ url_for('static', filename='js/tailwind.config.js') }}"></script>
    <link href="{{ url_for('static', filename='css/tailwind.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/base.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='img/logo-energy.svg') }}" rel="icon">

    {% block scripts %}{% endblock %}
    {% block styles %}{% endblock %}
</head>
<body class="bg-[url({{ url_for('static', filename='img/background.png') }})] bg-cover h-screen w-screen">
    <main class="flex flex-col items-center h-full">
        <img 
            src="{{ url_for('static', filename='img/logo.svg') }}"
            class="max-w-40 xl:max-w-52 mt-4"
            alt="Logo Minas Energia"
        >
        <content 
            class="flex flex-col items-center bg-chatBackground rounded-3xl grow my-6 xl:my-10 w-full max-w-screen-md"
            style="filter: drop-shadow(4px 4px 4px #000000);"
        >
            <header 
                class="flex justify-between bg-chatHeader rounded-t-3xl w-full z-10"
                style="box-shadow: 0 6px 6px -2px rgba(0, 0, 0, 0.5);"
            >
                <div class="flex items-center">
                    <img 
                        src="{{ url_for('static', filename='img/bot.png') }}" 
                        class="m-2.5 max-w-10 xl:max-w-12"
                        alt="Bot" 
                    />
                    <h1 class="text-xl xl:text-2xl font-bold text-white">Samuel</h1>
                </div>

                <button type="button">
                    <img 
                        src="{{ url_for('static', filename='img/history.svg') }}" 
                        class="mr-2.5 max-w-10 xl:max-w-12"
                        alt="History" 
                    />
                </button>                
            </header>
            <content class="flex flex-col items-center w-5/6 h-full">
                {% block content %}{% endblock %}             
            </content>
        </content>
    </main>

    {% block extra_js %}{% endblock %}
</body>
</html>