<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %} {% endblock %}</title>
    <script src="{{ url_for('static', filename='js/socket.io.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/tailwind.js') }}"></script>
    <script src="{{ url_for('static', filename='js/tailwind.config.js') }}"></script>
    <link href="{{ url_for('static', filename='css/tailwind.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/base.css') }}" rel="stylesheet">
</head>
<body class="bg-[url({{ url_for('static', filename='img/background.png') }})] bg-cover h-screen w-screen">
    <main class="flex flex-col items-center h-full">
        <img 
            src="{{ url_for('static', filename='img/logo.svg') }}"
            class="max-w-40 xl:max-w-52 mt-4"
            alt="Logo Minas Energia"
        >
        <content 
            class="flex flex-col items-center bg-chatBackground rounded-3xl grow my-6 xl:my-10 w-full max-w-screen-md"
            style="filter: drop-shadow(4px 4px 4px #000000);"
        >
            <header 
                class="flex justify-between bg-chatHeader rounded-t-3xl w-full z-10"
                style="box-shadow: 0 6px 6px -2px rgba(0, 0, 0, 0.5);"
            >
                <div class="flex items-center">
                    <img 
                        src="{{ url_for('static', filename='img/bot.png') }}" 
                        class="m-2.5 max-w-10 xl:max-w-12"
                        alt="Bot" 
                    />
                    <h1 class="text-xl xl:text-2xl font-bold text-white">Samuel</h1>
                </div>

                <button type="button">
                    <img 
                        src="{{ url_for('static', filename='img/history.svg') }}" 
                        class="mr-2.5 max-w-10 xl:max-w-12"
                        alt="History" 
                    />
                </button>                
            </header>
            <content class="flex flex-col items-center w-5/6 h-full">
                <div id="chat" class="flex flex-col w-full h-full mb-28 gap-x-2.5 pt-2 overflow-y-auto overflow-x-hidden max-h-[380px] snap-y">
                    <div class="w-full grow-0 mb-2 snap-center">
                        <div class="flex items-start gap-2.5">
                            <div class="flex flex-col max-w-[320px] leading-1.5 p-4 border-gray-200 bg-chatMessageBackground rounded-e-3xl rounded-bl-3xl">
                               <p class="text-sm font-normal py-1.5 text-chatMessageText break-words">
                                    Texto recebido!
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="flex justify-end w-full mb-2 snap-center">
                        <div class="flex items-start gap-2.5">
                            <div class="flex flex-col max-w-[320px] leading-1.5 p-4 border-gray-200 bg-chatMyMessageBackground rounded-s-3xl rounded-br-3xl">
                               <p class="text-sm font-normal py-1.5 text-chatMyMessageText break-words">
                                    Texto enviado!
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="flex rounded-full bg-searchBackground absolute bottom-0 mb-8 w-5/6">
                    <input 
                        type="text" 
                        placeholder="Escreva sua mensagem..." 
                        class="bg-transparent outline-none text-white flex-1 pl-8 placeholder:text-searchPlaceholder"
                    >
                    <button type="submit">
                        <img 
                            src="{{ url_for('static', filename='img/send.svg') }}"
                            class="m-2 max-w-10"
                            alt="Send"
                        />
                    </button>
                </div>                
            </content>
        </content>
    </main>
</body>
</html>